@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
::after,
::before{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}
a{
    /* color: #e9ecef; */ 
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}
/* layout for asdmin dashboard skeleton */
.wrapper{
    align-items: stretch;
    display: flex;
    width: 100%;
    /* background-color: darkgray; */
}
#sidebar{
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}
.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: var(--bs-dark-bg-subtle);
}
.sidebar-logo{
    min-height: 4.55rem;
    padding: 1.5rem 0 0 4rem;
    /* background: var(--bs-dark-bg-subtle); */
    /* border-right: 2px solid #000000 ; */
}
.sidebar-logo a{
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 600;
    margin: 2rem;

}
.sidebar-nav{
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}
.sidebar-header{
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}
a.sidebar-link{
    padding: .625rem 1.62rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: .875rem;
}
.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}
.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.avtar{
    height: 40px;
    width: 40px;
}
.navbar-expand .navbar-nav{
    margin-left: auto;
}



/* main content */

.content{
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content{
        max-width: auto;
        width: auto;
    }
    
}
.card{
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, 0.5);
    margin-bottom: 24px;
}
.illustration{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}
.illustration-img{
    max-width: 150px;
    width: 100%;
}

/* Sidebar js */

#sidebar.collapsed{
    margin-left: -264px;
}




/* Theme Toggler */
.theme-toggle{
    position: fixed;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
    z-index: 10;
    right: 0;
    left: auto;
    border: none;
    background-color: var(--bs-body-color);
}
html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon{
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 1.25rem;
    color: #fff;
}
html[data-bs-theme="dark"] .theme-toggle .fa-moon{
    display: none;
}
html[data-bs-theme="light"] .theme-toggle .fa-sun{
    display: none;
}


.charts{
    display: flex;
    flex-direction: row;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin: 0 1rem;

}


.bar{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1rem;
    align-items: center;
    background-color: #fa04f6;
}
.card1{
    background-color: #e9ecef;
    text-align: center;
    border-radius: 1rem;
    /* padding-top: .5rem; */

}
.card1 h4{
    color: #000000;
    font-weight: 800;
    font-size: 2rem;
}
/* FOoter and Nav */
@media (max-width:767.98px){
    .navbar,
    footer{
        width: 100vw;
    }
    .charts{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 1rem;
        
    }
}